.table{
    position: relative;
    width: 90%;
    margin-top: 105px;
    left: 7%;
}

.bg-info{
    background-color: var(--secondary_color) !important;
    color: var(--white_color) !important;
}

@media(max-width:776){
    .table{
        left: 4%;
    }
}

@media(max-width:578px){
    td img{
        width: 134px;
    }

    .table{
        left: -5%;
    }
}

.alert{
    margin-top: 100px;
}

