.sidebar_wrapper {
    position: fixed;
    top: 62px;
    height: 100%;
    width: 19%;
    border-right: 1px solid var(--main_color);
    z-index: 1000;
}

@media (max-width: 768px) {
    .sidebar_wrapper {
        display: none;
        width: 75%;
    }
}

@media (min-width: 768px) {
    .sidebar_wrapper {
        display: block !important;
    }
}

#sidebar .list-unstyled {
    margin-left: 0;
}

.links:hover {
    background-color: #eee;
    cursor: pointer;
}

.sidebar_links li {
    position: relative;
    left: 27px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: large;
    font-weight: bold;
    text-decoration: none;
    transition: left 0.3s;
    -webkit-transition: left 0.3s;
    -moz-transition: left 0.3s;
    -ms-transition: left 0.3s;
    -o-transition: left 0.3s;
}

@media (max-width: 768px) {
    .sidebar_links li {
        left: 140px;
    }

    .sidebar_links li:hover {
        left: 160px !important;
    }
}

@media (max-width: 576px) {
    .sidebar_links li {
        left: 40px !important;
    }

    .sidebar_links li:hover {
        left: 60px !important;
    }
}

.sidebar_links li:hover {
    left: 35px;
}

@media (max-width: 576px) {
    .sidebar_links li {
        left: 60px;
    }

    .sidebar_wrapper {
        width: 75%;
    }
}

.sidebar_links a {
    text-decoration: none !important;
    color: black !important;
}

.sidebar_links li i {
    padding-right: 6px;
    font-size: larger;
    color: var(--main_color);
}

.fa-school {
    margin-left: -7px;
}

.fa-home,
.fa-clone {
    margin-left: -2px;
}

.active {
    background-color: #dfe6e9;
}
